

.top {
  background-color: #303030;
  overflow: hidden;
  text-decoration: none;
  padding-top: 6px;
  padding-left: 6px;
  font-size: 1.7em;
}

html, body, .container{
    height: 100%;
    margin: 0;
    background-color: #777777;

}
.container{
  border-top: 5px;
  border-color: red;
}

.top{
 color: white;
}

.title{
  padding-top: 16px;
  padding-left: 10%;
  font-size: 1.1em;


}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav div:hover {
  color: red;
}

/* Add a color to the active/current link */
.topnav div.active {
  background-color: #4CAF50;
  color: white;
}

#content {
  overflow: hidden;
  /*padding: 14px 16px;*/
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  /*height: 100%;*/
  height: calc(100vh - 125px);
}
.bottom {
  overflow: hidden;
  font-size: 1.7em;
}


ul {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;

  border: 2px solid #ccc;

  font-size: 16px;
  font-family: Arial, sans-serif;

  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;

  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    background: #f8f8f8;
  }
}

.scrollybox{
 /* height:calc(100vh - 250px); */
 height:250px;
 width:80%;
 border:1px solid #ccc;
 font:10px/16px Georgia, Garamond, Serif;
 overflow:auto;
 resize: both;
 /*-webkit-box-shadow: 5px 5px 15px 5px #000000;*/
 /*box-shadow: 5px 5px 15px 5px #000000;*/
}

.large{
    margin-top: 5px;
    font-size: 1.4em;
}

* {
  box-sizing: border-box;
}

#partLocatorInput {
  width: 40%;
  font-size: 16px;
  padding: 6px 10px 6px 40px;
  border: 1px solid #ddd;
  margin-bottom: 6px;
}

#locationsTable {
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#locationsTable th, #myTable td {
  text-align: left;
  padding: 8px;
}

#locationsTable tr {
  border-bottom: 1px solid #ddd;
}

#locationsTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

table.tableMaker {
  background-color: #EEEEEE;
  /*width: 100%;*/

  text-align: center;
  border-collapse: collapse;
}
table.tableMaker td, table.tableMaker th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.tableMaker tbody td {
  font-size: 13px;
}
table.tableMaker tr:nth-child(even) {
  background: #D0E4F5;
}

table.tableMaker  th {
  background: #3F3F3F;
  font-size: 17px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: left;
}


table.faultdatatable {
  border: 1px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.faultdatatable td, table.faultdatatable th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.faultdatatable tbody td {
  font-size: 13px;
}
table.faultdatatable thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.faultdatatable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.faultdatatable tfoot td {
  font-size: 14px;
}
